.svg-content {
    display: inline-block;
    position: absolute;
    top: 1vh;
    left: 6vw;
    width: 100%;
    height: 100%;
}

.svg-content-2 {
    display: inline-block;
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 69%;
    height: 70%;
    border:5px solid black;
    background-color: transparent;
    /* box-shadow: rgba(110, 110, 110, 0.45) 0px 0px 10px; */
}
.graph{
    top: 1vh;
}