.title{
    font-family: 'Nunito Sans', sans-serif;
    font-style: light;
    font-weight: 600;
    font-size: 5vw;
    line-height: 100px;

    color: #FFFFFF;

    mix-blend-mode: normal;
}
.subtitle{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 4vh;
    line-height: 50px;
    text-align: right;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.start-intro{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 50px;
    text-align: right;

    color: #212121;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width:800px;
    word-wrap:break-word;
    text-align: center;
}
.Start-Button{
    height: 60px;
    width: 150px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size:1.2vw;
    color: gray;
    background-color: transparent;
    box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px;
    border:2px solid #0F7BB0;
    cursor:pointer;
}
.Start-Button:hover{
  color: black;
  background-color: #0F7BB0;
  border:0px;
  box-shadow: 10px 10px 20px 3px rgba(67, 67, 67, 0.25);
}
.img-anim{
    animation: rotation 60s infinite linear;
}
.card-intro{
  padding: 40px;
  background: rgba( 2, 0, 36, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  height: 300px;
  width: 700px;
  animation: open-anim 1s linear;
  overflow:hidden;
}
.text-middle{
  position: absolute;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 34px;
  line-height: 50px;
}
@keyframes open-anim {
  from {
    width:10px
  }
  to {
    width:700px
  }
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }