.header{
    font-size: 2vw;   
    margin-left: 12vw;
    margin-top: 5vh;
    border:0;
    background-color:gray;
    padding: 1.5vw;
    box-shadow: 10px 0 15px 15px #A1ADC5 inset;
    color:rgb(0, 0, 0);
    border-radius: 20px;
}